﻿@using reCAPTCHA.MVC
@model IPGMMS.Models.ResendConfirmEmailViewModel
@{
    ViewBag.Title = "Resend Confirmation Email";
}

<h2>@ViewBag.Title.</h2>
@{
    if (!String.IsNullOrEmpty(ViewBag.errorMessage))
    {
        <h2 class="text-danger">@ViewBag.errorMessage</h2>
    }
}

@using (Html.BeginForm("ResendConfirmEmail", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Enter your email.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2">
            @Html.Recaptcha()
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Email Link" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
